# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=mail@gmail.com
SMTP_PASS="p a s s w o r d"
SMTP_REJECT_UNAUTHORIZED=true

# Deployment Configuration
DOMAIN=api.domain.com
VPS_USER=user
APP_DIR=/opt/app

# Server Configuration
PORT=3000
HOST=127.0.0.1

# Security
API_KEY=2FA-API-KEY
NODE_ENV=production
